<main>
  <app-dashboard></app-dashboard>
  <div class="main">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="table">
          <h1>Alicuota</h1>
          <div class="fields">

            <div class="field">
                <label for="number">Numero de lote:</label><br>
                <p-dropdown formControlName="number" [options]="lotes" optionLabel="number" placeholder="Seleccione el lote"></p-dropdown>
              </div>
    
          <div class="field">
            <label for="lastname">Año:</label><br>
            <p-dropdown formControlName="year" [options]="yearss" optionLabel="name" placeholder="Seleccione el año"></p-dropdown>
          </div>
    
          <div class="field">
            <label for="email">Mes:</label><br>
            <p-dropdown formControlName="mounth" [options]="mounthss" optionLabel="name" placeholder="Seleccione el mes"></p-dropdown>
          </div>

          <div class="field">
            <label for="email">Monto:</label><br>
            <p-inputNumber formControlName="mount" [showButtons]="true" inputId="stacked" mode="currency" currency="USD"> </p-inputNumber>
          </div>
    
          <div class="botones">
            <p-button
              label="Aceptar"
              severity="success"
              (click)="onSubmit()"
            ></p-button>
            <p-button
              label="Cancelar"
              (click)="close()"
              severity="warning"
            ></p-button>
          </div>
        </div>
    
        </div>
      </form>
  </div>
</main>
