<main>
  <app-dashboard></app-dashboard>
  <div class="main">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="table">
          <h1>Alicuota</h1>
          <div class="field">
            <label for="pay">Estado de pago:</label><br>
            <p-dropdown formControlName="pay" [options]="pays" optionLabel="name" placeholder="Seleccione el estado"></p-dropdown>
          </div>
    
          <div class="botones">
            <p-button
              label="Aceptar"
              severity="success"
              (click)="onSubmit()"
            ></p-button>
            <p-button
            label="Cancelar"
            (click)="close()"
            severity="warning"
          ></p-button>
          </div>
        </div>
      </form>
  </div>
</main>
