<div class="menu">
    <div class="bar">
        <ul>
            <li><a routerLink="/dashboard/user" class="nav-link" href="#">Usuarios</a></li>
            <li><a class="nav-link" href="#">Lotes</a></li>
            <li><a routerLink="/dashboard/ali" class="nav-link" href="#">Alicuotas</a></li>
        </ul>
    </div>
</div>

<div class="table">
<p-table
  dataKey="id"
  [value]="users"
  [tableStyle]="{ 'width': '0rem' }"
>
<ng-template pTemplate="header">
    <tr>
        <h1>Usuarios</h1>
    </tr>
    <tr>
        <th>Habita</th>
        <th>Cedula</th>
        <th>Nombres y apellidos</th>
        <th>Telefono</th>
        <th>Correo</th>
    </tr>
</ng-template>
<ng-template pTemplate="body" let-users>
    <tr>
        <td>{{ users.state }}</td>
        <td>{{ users.identification }}</td>
        <td>{{ users.name }} {{ users.lastname }}</td>
        <td>{{ users.cellPhone }}</td>
        <td>{{ users.email }}</td>
    </tr>
</ng-template>
</p-table>
</div>
<!-- {{columns | json}}
{{users | json}} -->
