<p-table
  dataKey="id"
  [value]="users"
  [tableStyle]="{ 'width': '0rem' }"
>
<ng-template pTemplate="header">
    <tr>
        <h1>Usuarios</h1>
    </tr>
    <tr>
        <th>Habita</th>
        <th>Cedula</th>
        <th>Nombres y apellidos</th>
        <th>Telefono</th>
        <th>Correo</th>
    </tr>
</ng-template>
<ng-template pTemplate="body" let-users>
    <tr>
        <td>{{ users.state }}</td>
        <td>{{ users.identification }}</td>
        <td>{{ users.name }} {{ users.lastname }}</td>
        <td>{{ users.cellPhone }}</td>
        <td>{{ users.email }}</td>
    </tr>
</ng-template>
</p-table>
<!-- {{columns | json}}
{{users | json}} -->
